html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: ghostwhite;
        font-family: 'Oxygen', sans-serif;
        font-weight: 550;
        padding-top: 40px;
        position: relative;
    }

h2 {
	text-align: center;
	font-weight: 700;
}
h4	{
	font-weight: 600;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #1d809f;
}

a {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  font-weight: 600;
  color: white !important; 
}

footer {
	color: white;
	padding-top: 0.75rem;
	padding-bottom: 0.25rem;
}

.bg-info {
  background-color: #1d809f !important;
}

.bg-light {
	background-color: #bfefff !important;
}

.text-faded {
	color: rgba(0, 0, 0, 0.7);
}

.service-icon {
	font-size: 50px;
	color: #1d809f;
}

.navbar .service-icon {
	font-size: 20px;
	color: ghostwhite;
}

.card-title {
	text-align: center;
	padding-top: 10px;
}

.card-body {
	padding-bottom: 0;
	padding-top: 0;
}

.card {
	margin-bottom: 10px;
}

.navbar {
	font-size: 18px;
	letter-spacing: 4px;
	line-height: 2.5;
	padding: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: ghostwhite !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1d809f !important;
    background-color: ghostwhite !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: ghostwhite !important;
}

.navbar-brand {
	padding-left: 15px;
}

#map {
	height: 100%;
}

#Contact, #Attention, #other-services, #Services {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#other-services li {
	margin-top: 0.75rem;
}

#other-services img {
	width: 100%;
	height: 100%;
}

#Impressum {
	text-align: justify;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#Impressum a {
	color: #1d809f;
}

#Contact a {
	color: #1d809f;
}
